html {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	color: rgb(74, 74, 74);
	font-size: 8px;
	}
img {vertical-align: middle;}

.container {
	max-width: 1260px;
	margin: 0 auto;
	}
.flex {display: flex;}

.col-left {width: 60%;}
.col-right {width: 40%;}




/**Hero Section**/

heading {
	height: 8rem;
	padding: 0 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgb(255, 255, 255);
    max-width: 1212px;
    margin: 0 auto;
	}
.brand {
	display: flex;
	align-items: center;
	}
	.brand .icon {
		height: 4rem;
		margin-right: 1rem;
		}
	.brand .logotype {
		font-family: 'Lato' Helvetica, Arial, sans-serif;
		font-size: 3rem;
		}

nav li {
	display: inline-block;
	margin-right: 2rem;
	}
	nav li:last-child {margin-right: 0;}

nav a {
	font-size: 2rem;
	text-decoration: none;
	color: rgb(74, 74, 74);
	transition: color 100ms ease-in;
	}
	nav a:hover {color: rgb(56, 182, 238);}

nav img {height: 4rem;}

nav.mobile {
	display: none;
	width: 100%;
	}
